$color-bright-white: #ffffff;
$color-white: #e2e2e2;
$color-white-darker: #d0d0d0;
//$color-less-white: #d7d7d7; // DK: unused by now
$color-burgundy: #af1f16; //#C10043;
$color-grey-lighter: #888;
$color-grey-lighter-2: #aaa;
$color-grey: #555;
$color-black-lighter: #333;
$color-black: #0a0a0a;
$color-black-total: #000000;
