@font-face {
  font-family: "BLOKK";
  src: url('/assets/fonts/BLOKKNeue-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/BLOKKNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/BLOKKNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/BLOKKNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/BLOKKNeue-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
