.inline-form {
  display: inline-flex;
  flex: 0 1 auto;
  cursor: text !important;

  &.disabled {
    cursor: pointer !important;
  }
}

.inline-edit {

  input {
    border: none;
    display: inline-flex;

    width: auto;
    background-color: transparent;
    padding: 0 0 2px 0;
    margin-top: 2px;
    margin-right: 4px;
    border-bottom: 1px dashed #FFCA58;
    color: #FFCA58;
    //max-width: 110px;
    flex: 0 1 auto;
    min-width: 50px;

    &[disabled] {
      border-bottom-color: #ccc;
      cursor: pointer;
      color: #eee;
      background-color: transparent;
    }
  }

}

