.offer-card {
  margin: 6px 2px;
  min-width: 470px !important;
  width: auto;
  max-width: 750px !important;

}

@media (max-width: 600px) {
  .offer-card {
    min-width: 300px !important;
    overflow: hidden;

    &:first-child {
      margin-top: 40px;
    }
  }
}


.middle-infos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0;
  overflow: hidden;

  .location {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;
  }

  .indicators {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 28px;
    white-space: nowrap !important;

    &:before {
      position: absolute;
      display: inline;
      content: "";
      left: 4px;
      width: 1px;
      height: 100%;
      background: #ddd;
    }
  }
}

.actions {
  button {
    border: 0 !important;
    background: transparent !important;
  }
}

.description {
  div > button {
    border: 0;
    background: transparent;
  }
}

@media (max-width: 600px) {
  .middle-infos {
    flex-wrap: wrap;
  }
}
