.middle-infos{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0;

  .location {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1;
  }

  .indicators {
    min-height: 34px;
    white-space: nowrap !important;
    &:before{
      display: inline;
      content: "";
      margin: 4px 0;
      width: 1px;
      height: 100%;
      background: #ddd;
    }
  }
}
.actions {
  button {
    border: 0 !important;
    background: transparent !important;
  }
}
.description {
 div > button {
   border: 0;
   background: transparent;
 }
}

@media (max-width: 600px) {
  .middle-infos{
    flex-wrap: wrap;
  }
}
